body { font-size: 18px; }
.fa-star, .fa-star-o { color: #f39c12;  cursor: pointer; font-size: 18pt; }
#horasFechaSelector .fa { font-size: 24px; top:2px; position:relative; color: #666; }
.celdaproyecto { padding-left: 5px; padding-right: 5px;}
.celdaproyecto .form-control { padding: 5px; font-size: 12px; color:#000; }
.celdaproyecto:last-child{ padding-left:0px; }
.hoursMorebutton { margin-top:5px !important; }
#horasListBody .box-body .row { padding-bottom: 3px; padding-top: 3px; }
#horasListBody .box-body .row:last-child { margin-bottom: 0px; }
#horasListBody .box-header  { padding-bottom: 0px !important; }
#horasListBody .nrhours { color: #f39c12; font-weight: bold; font-size: 24px; padding-right: 10px;  padding-top: 5px; }
.fortrue, .forfalse { width: 28px; height: 28px; color:#fff;  border: solid 1px #aaa; vertical-align:middle; position:relative; top:2px;  }
.fortrue { background-color: #00a65a; padding-left: 4px; padding-top: 5px; }
.forfalse { background-color: #f56954; padding-left: 6px;padding-top: 5px; border: none;}
.celdaproyecto ::-webkit-input-placeholder { color:    #cecece; }
.celdaproyecto :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cecece;
    opacity:  1;
}
.celdaproyecto ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cecece;
    opacity:  1;
}
.overlay { position:fixed; top:0; left:0; width:100%; height:100%; opacity: 0.9;  }

.content { padding: 20px 0px !important; }
.resumenDiaMes { font-weight: bold; }
.resumenNumHoras { position: relative; font-size:70%; font-style:italic; float: right}

tr.resumenHeader, td.outofmonth { background-color:#f3f4f5; }

#ResumenCalendar th, #ResumenCalendar td { text-align: center !important; }
#ResumenCalendar td { cursor:pointer; }
#ResumenCalendar td:hover, #ResumenCalendar td.hover { background-color:#f3f4f5; }

/*OVERWRITES ADMINLTE.CSS*/
.header .navbar { margin-left:0px !important; background-color:#367fa9 !important }

body > .header .logo { float:none !important; width:100% !important; }
body .navbar-btn { position:absolute !important; }
.navbar-header { float: none !important; }
header.header { position: fixed !important; }
.right-side { margin-top:50px; }


